*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #d7d7d2;
    height: 100vh;
    font-size: 14px;
}

.contenitore{
    background-color: red;
    width: 1200px;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.chatPersone{
    background-color: orange;
    width: calc(1200px - 600px);
}

.chatMichele{
    width: 100%;
    background-color: lightblue;
}


.profilo,
.chatProfilo
{
    background-color: #e9e9e9;
    height: 60px;
}

.profilo{
    border-right: 1px solid #e4e4e4;
}


.profilo i,
.chatProfilo i{
    color: #afafaf;
}

img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.notifiche{
    background-color: #8cd7fa;
    height: 70px;
}

.notifiche i{
    padding: 18px;
    background-color: white;
    border-radius: 50%;
    color: #8cd7fa;
}

.attivita{
    font-size: 10px;
}

.cerca{
}

.persone{
    background-color: azure;
    height: calc(100% - 180px)
}

.ciao{
    background-color: chocolate;
    height: calc(100% - 120px);
}

.tastiera{
    background-color: cornflowerblue;
    height: 60px;
}